#   GiroSur Barometer – Marine Aneroid Barometer Plasmoid
#   Barómetro Marino Aneroide “GiroSur” para KDE Plasma
#   Copyright (C) 2026 Teodoro Visaires <teovisaires@gmx.com>
#   Created in pair programming with Antigravity (Google DeepMind)
#
#   SPDX-License-Identifier: GPL-2.0-or-later
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see <https://www.gnu.org/licenses/>.

[Desktop Entry]
Name=Barómetro Giro-Sur
Name[es]=Barómetro Giro-Sur
Name[en]=Giro-Sur Barometer
Comment=Barómetro marino analógico aneroide con presión atmosférica en tiempo real
Comment[es]=Barómetro marino analógico aneroide con presión atmosférica en tiempo real
Comment[en]=Analog marine aneroid barometer with real-time atmospheric pressure
Type=Service
Icon=weather-clear
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-Provides=org.kde.plasma.weather
X-Plasma-StandAloneApp=true

X-KDE-PluginInfo-Name=org.girosur.barometer
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Author=Teodoro Visaires
X-KDE-PluginInfo-Email=teovisaires@gmx.com
X-KDE-PluginInfo-License=GPL-2.0-or-later
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-FormFactors=desktop,tablet,handset,mediacenter
X-KDE-Keywords=barometer;barómetro;weather;clima;presion;atmospheric;girosur;funes;

[X-Plasma-ConfigDialog]
InitialPage=General
